:root {
  --de-tw-wave-blue: #003d4f;
  --de-tw-sapphire-blue: #47a1ad;
  --de-tw-flamingo-pink: #f2617a;
  --de-tw-mist-grey: #edf1f3;
  --de-pine: #024b40;
  --de-poppy: #fe5858;
  --de-sea-glass: #b2d6ca;
  --de-merlot: #5d353e;

  --el-color-primary: var(--de-poppy);
  --el-color-primary-light-2: var(--de-tw-flamingo-pink);

  --de-color-primary: var(--de-pine);
  --de-color-foreground: var(--de-poppy);
}

@media (max-width: 280px) {
  h1 {
    font-size: 1.2em !important;
  }
  h2 {
    font-size: 1em !important;
  }
  h3 {
    font-size: 0.9em !important;
  }
  h4,
  div {
    font-size: 0.8em !important;
  }
  p {
    font-size: 0.6em !important;
  }
}

@media (max-width: 414px) {
  h1 {
    font-size: 1.5em !important;
  }
  h2 {
    font-size: 1.2em !important;
  }
  h3 {
    font-size: 1em !important;
  }
  h4,
  div {
    font-size: 0.9em !important;
  }
  p {
    font-size: 0.7em !important;
  }
  .el-main {
    line-height: 12px;
  }
}